<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About of PlayerWIKI</title>
</head>
<body>


<div class="container">
    <div class="jumbotron">
        <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_ktmmYE1-Tt56MAITDuPhT3hFjAHyj8dXa56nKTeNgOGJpfLJ' class='img-fluid' />
<h3><em>
    PlayerWiki is a multilingual, web-based, free encyclopedia based on a model of openly editable content.
    It is the largest and most popular general reference work on the Internet,
    and is one of the most popular websites by Alexa rank.
    PlayerWiki is a live collaboration differing from paper-based reference sources in important ways.

    </em>
</h3>
    </div>
</div>
</body>

{% endblock %}
</html>